@import "../../../assets/scss/common";

.form-signing {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

table {
  font-size: 11px;
  th {
    width: 80px;
  }
}

.logo{
  width: 50%;
}

.btn-primary {
  color: #fff;
  background-color: #e3165b;
  border-color: #e3165b;
  width: 80%;
}


.follow {
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px
}

.stats span {
  font-size: 29px
}